{% extends 'base.html' %}

{% block title %} Articles {% endblock title %}

{% block content %}
<div class="list-wrapper">
{% for article in object_list %}
<div class="card">
<div class="card-header">
<span class="font-weight-bold"><a class="text-dark" href="{% url 'article_detail' article.pk %}"> {{ article.title }}</a></span> &middot;
<span class="text-muted">by {{ article.author }} |
{{ article.date }}</span>
    <h1>{{ context }}</h1>
</div>
<div class="card-body">
{{ article.body }}
</div>
<div class="card-footer text-center text-muted">
{% if user.username == article.author.username %}
<a class="btn btn-warning" href="{% url 'article_edit' article.pk %}">Edit</a> | <a class="btn btn-danger" href=" {%  url 'article_delete' article.pk %}">Delete</a>
    {% endif %}
</div>
    <hr>
    <div class="card-footer">
    {% for comment in article.comments.all %}
    <p>
    <span class="font-weight-bold">{{ comment.author }} &middot;</span>
    {{ comment }}
    </p>
    {% endfor %}
</div>
</div>
<br>

{% endfor %}
</div>
{% endblock content %}